body {
    background-color: #c7c7c7;
}
.css-form {
    display: block;
    vertical-align: middle;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}
.displayed {
    width: 120px;
    display: block;
    margin: 160px auto auto ;
}
.form-block {
    margin-top: 23px;
}
.heading-with-line {
    padding-top: 20px;
    padding-bottom: 11px;
    border-bottom: 1px solid #EBE7E1;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    color: #2B2F33;
    margin: 0;
}
.form {
    text-align: left;
}
.requirement {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 17px;
    margin-top: 10px;
    padding-right: 15px;
    opacity: .8;
    margin-left: 25px
}
label {
    margin-left:23px;
    font-size: 18px;
    cursor: default;
}
input {
    display: block;
    width: 88%;
    background: #F0F1F2;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    margin-left: 22px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 27px;
    color: #2B2F33;
}
input[type="submit"] {
    cursor: pointer;
    border: none;
    background: #FFA31A;
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}
.warning {
    color: #861616;
    font-size: 16px;
    margin-left: 100px;
    font-weight: bold;
}
.validation {
    display: none;
}
